In [22]:
from transformslib.tables.names.tablename import Tablename

In [30]:
Tablename("example table??")

ValueError: Invalid table name format: 'example table??'. Must be non-empty, start with a letter or underscore, and contain only alphanumeric characters or underscores. Purely numeric names are allowed.

In [25]:
from transformslib.tables.names.colname import Colname

In [ ]:
Colname("CAPTasfa")

'captasfa'

In [31]:
from transformslib.tables.names.lists import VarList

In [ ]:
cols_df1 = VarList(["a", "B", "c"])
cols_df2 = VarList(["d", "f", "b"])

overlap = cols_df1.overlap(cols_df2)
cols_df1.extend_with(cols_df2)
print(overlap.to_json())

{
  "var_names": [
    "b"
  ]
}

In [46]:
from pyspark.sql import SparkSession
# Create Spark session
print("Creating Spark session")
spark = SparkSession.builder.master("local").appName("TransformTest").getOrCreate()

Creating Spark session

In [54]:
from transformslib.tables.multitable import MultiTable

df = MultiTable.load("test_tables/job_1/date_table.csv", format="csv", table_name="my_first_table", frame_type="polars")

TypeError: df must be a Polars DataFrame when frame_type is 'polars'

In [48]:
df.show()

+---+-------+----------+
| id|   name|event_date|
+---+-------+----------+
|  1|  Alice|2025-01-15|
|  2|    Bob|2023-03-22|
|  3|Charlie|2023-07-04|
|  4|  Diana|2023-10-31|
|  5|  Ethan|2023-12-25|
+---+-------+----------+

In [49]:
df.columns

['id', 'name', 'event_date']

In [50]:
df.nvars

3

In [51]:
df.nrow

5

In [52]:
from transformslib.tables.metaframe import MetaFrame
mf = MetaFrame(df)